<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         metadata-complete="true"
         version="2.5">

    <display-name>Mcintosh</display-name>

    <!-- Spring listeners
    <listener>
      <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
            classpath:/spring-global.xml
        </param-value>
	</context-param>

    <context-param>
        <param-name>spring.profiles.active</param-name>
        <param-value>production</param-value>
    </context-param> -->

	
	<!-- The security filters
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <!-- 
  	Spring MVC Servlet 
  	NOTE: We're overriding the default location of the web config here so that
  	it'll be on the classpath, which will make it easier to run the tests 
  	automatically (no need to mess around with relative paths)

  <servlet>
	<servlet-name>Spring</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<load-on-startup>3</load-on-startup>
	<init-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
              classpath:/spring-web.xml
          </param-value>
	</init-param>
  </servlet>
    -->

    <!-- Servlet Mappings -->

    <!-- Protected urls...
    <servlet-mapping>
   		<servlet-name>Spring</servlet-name>
   		<url-pattern>/api/*</url-pattern>
   	</servlet-mapping>
    <servlet-mapping>
   		<servlet-name>Spring</servlet-name>
   		<url-pattern>/web/*</url-pattern>
   	</servlet-mapping>
    -->

    <!-- The Welcome File List -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

     <!-- The default error page -->
    <error-page>
    	<exception-type>java.lang.Throwable</exception-type>
	    <location>/web/Error</location>
    </error-page>

    <!--
	<error-page>
		<error-code>404</error-code>
		<location>/404.zul</location>
	</error-page>
	-->

</web-app> 